body {
    background: #1976D2;
    margin: 0;
    padding: 0;
}

#infinite-list {
    background: white;
    margin-top: 10%;

    width: 300px;
    height: 500px;
    overflow: auto;

    margin: 30px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 10px 40px 0 rgba(47, 47, 47.1);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

li {
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid #eee;
}

li:hover {
    background: #accc;
}
